form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form > div:first-child {
  flex-basis: 40%;
}

form > div:not(:first-child) {
  flex-basis: 50%;
}

button[type="submit"] {
  background-color: #234650;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #234650;
}


